<#@ include file="../T4Helper.ttinclude" #>

namespace <#= RootNamespace #>.Configuration
{
	/// <summary>
	/// A kind of SQL syntax.
	/// </summary>
	public enum <#= ClassName #>
	{
<#
	PushIndent("\t\t");
	foreach((string item, string doc) in GetXsdEnumerations("Syntax"))
	{
		WriteLine($"/// <summary>{doc}</summary>");
		WriteLine($"{item},");
	}
	PopIndent();
#>
		/// <summary></summary>
		CSharp
	}
}