<#@ include file="../T4Helper.ttinclude" #>
namespace <#= Host.ResolveAssemblyReference("$(RootNamespace)") #>.Configuration
{
	public partial class Schema
	{
		public const string XMLNS = "<#= GetXmlNamespace() #>";
	}
}