<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="mysql"
         providerName="MySql.Data.MySqlClient"
         connectionString="server=navy13;user=ackara;password=ezpass;" />

    <add name="mssql"
         providerName="System.Data.SqlClient"
         connectionString="server=192.168.1.142;user=ackara;password=ezpass" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ApprovalUtilities"
                          publicKeyToken="11bd7d124fc62e0f"
                          culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.22.0.0"
                         newVersion="1.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>