<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mssql"
         connectionString="server=localhost;user=your_username;password=your_password;" />

    <add name="mysql"
         connectionString="server=localhost;user=your_username;password=your_password;" />
  </connectionStrings>
</configuration>